<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{base::layout(~{::section})}">

<head>
    <meta charset="UTF-8">
    <title>Home page</title>
</head>
<body>
<section class="background_img d-flex justify-content-center align-items-center">
<div class="text-center">
    <h1 class="font-weight-bold"> Smart Contact Manager</h1>
    <p> Start Managing your contact smartly and efficiently.</p>
    <button class="btn bg-primary btn-lg text-white">Get Started</button>
</div>
</section>
</body>
</html>