<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="layout(content)">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" th:href="@{/css/style.css}">

    <title th:text="${title}">Base html</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>

<nav class="fixed-top navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Smart Contact Manager</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0 text-uppercase">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/}" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"> <span th:text="${user.name}"></span> </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/logout}" href="#">LogOut</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="sidebar mt-2">
    <span onclick="toggleSidebar()" class="crossBtn">&times;</span>
    <a id="home-link" href="" th:href="@{/user/index}" class="item active"> <i class="fas fa-home"></i> Home</a>
    <a id="show-link" href="" th:href="@{/user/show_contacts/0}" class="item"> <i class="fas fa-id-card-alt"></i> View Contact</a>
    <a id="add-link" href="" th:href="@{/user/add-contact}" class="item"> <i class="fas fa-pencil-alt"></i> Add Contact</a>
    <a id="profile-link" href="" th:href="@{/user/profile}" class="item"> <i class="fas fa-user-circle"></i> Your Profile</a>
    <a id="settings-link" th:href="@{/user/settings}" href="" class="item"> <i class="fas fa-cogs"></i> Settings</a>
    <a href="" th:href="@{/logout}" class="item"> <i class="fas fa-sign-out-alt"></i> Logout</a>
    <div class="divider"></div>
</div>

<!-- Content area with gradient background -->
<div class="content mt-5">
    <i onclick="toggleSidebar()" class="fas fa-bars barsBtn m-3"></i>
    <div th:replace="${content}"></div>
</div>

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script>
    function deleteContact(cid){
        swal({
          title: "Are you sure?",
          text: "Do you really want to delete this contact!",
          icon: "warning",
          buttons: true,
          dangerMode: true,
        })
        .then((willDelete) => {
          if (willDelete) {
            window.location="/user/delete/"+cid;
          } else {
            swal("Your contact is safe!");
          }
        });
    }
</script>
<script src="/js/script.js"></script>
</body>
</html>
