<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{userbase::layout(~{::section})}">

<head>
    <meta charset="UTF-8">
    <title>Dashboard page</title>
</head>
<body>
<section>
    <div class="container">
        <div class="card me-4">
            <div class="card-body mt-5 mb-5">
                <div class="container text-center">
                    <img style="height:200px; width:200px;" class="profile_pic mt-5"
                         th:src="@{'/img/default.png'}" alt="profile photo"/>
                </div>
                <h1 class="text-center mt-3 text-secondary font-italic">
                    Start Adding Your Contacts on cloud....
                </h1>

                <div class="d-flex justify-content-center">
                    <a th:href="@{/user/add-contact}" class="btn btn-info mt-3 mb-5 text-uppercase"> Add new Contact</a>
                </div> </div>
        </div>
    </div>
    <script>
        $(document).ready(() => {
            $('.item').removeClass('active');
            $("#home-link").addClass("active");
        });
    </script>
</section>
</body>
</html>
